DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=e_ticket_system
DB_USERNAME=postgres
DB_PASSWORD=root

REDIS_CONNECTION=localhost:6379

JWT_SECRET=sVoHtdAbe9LgdOB1812SHXaQNO4BaUzQxtzEYzPINVPmOkgm9etVTsJs4ebDZ96KRjKq7BPR03ZVFdCwaBbzg==
JWT_ISSUER=ETicketSystem
JWT_AUDIENCE=ETicketUsers
ACCESS_TOKEN_EXPIRATION_MINUTES=15
REFRESH_TOKEN_EXPIRATION_DAYS=7